html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;

margin:0;

}

/* Navbar */

.navbar{

background:#6d28d9;

}

/* Sections */

section{

min-height:100vh;

padding:100px 20px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}
/* Home Section */

#home{

background:linear-gradient(135deg,#7c3aed,#ec4899);

color:white;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:100px 20px;

}

#home h1{

font-family:'Pacifico',cursive;

font-size:40px;

margin-bottom:10px;

}

#home h2{

font-family:'Outfit',sans-serif;

font-size:50px;

font-weight:700;

letter-spacing:2px;

text-transform:uppercase;

text-shadow:3px 3px 10px rgba(0,0,0,0.2);

}

#home h3{

font-family:'Outfit',sans-serif;

font-size:28px;

font-weight:500;

margin-bottom:25px;

}

#home p{

font-family:'Outfit',sans-serif;

font-size:18px;

max-width:700px;

margin:auto;

line-height:1.8;

}

.main-btn{

background:white;

color:#7c3aed;

padding:12px 28px;

border-radius:30px;

font-weight:600;

margin-top:20px;

}

.main-btn:hover{

transform:translateY(-3px);

}

/* Mobile */

@media(max-width:768px){

#home h1{

font-size:30px;

}

#home h2{

font-size:32px;

}

#home h3{

font-size:22px;

}

#home p{

font-size:16px;

}
/* Projects */

#projects{

background:#fff7ed;

padding:100px 20px;

text-align:center;

}

#projects h2{

font-size:45px;

font-weight:700;

color:#6d28d9;

margin-bottom:20px;

}

.project-intro{

max-width:700px;

margin:0 auto 40px;

font-size:18px;

line-height:1.8;

}

/* Project Boxes */

.project-box{

max-width:800px;

margin:30px auto;

padding:30px;

border-radius:25px;

box-shadow:0 6px 18px rgba(0,0,0,0.1);

transition:0.3s;

}

.project-box:hover{

transform:translateY(-8px);

}

/* Colours */

.portfolio-box{

background:#fde68a;

}

.upcoming-box{

background:#bfdbfe;

}

.learning-box{

background:#fbcfe8;

}

/* Buttons */

.project-btn{

border:none;

padding:12px 25px;

border-radius:30px;

font-size:18px;

font-weight:600;

color:white;

margin-bottom:20px;

}

.portfolio-btn{

background:#f59e0b;

}

.upcoming-btn{

background:#2563eb;

}

.learning-btn{

background:#db2777;

}

@media(max-width:768px){

#projects h2{

font-size:35px;

}

.project-box{

padding:20px;

}

.project-btn{

font-size:16px;

}

}
}